section {
  font-size: 16px;
}

/* .newsletter--narrow .newsletter__wrapper,
.newsletter:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
} */

.newsletter__wrapper:not(.color-background-1) {
  /* padding-top: 3.125rem;
  padding-bottom: 3.125rem; */
}

/*.newsletter__wrapper {
   padding-right: 2.5rem;
  padding-left: 2.5rem; 
}

@media screen and (min-width: 768px) {
  .newsletter__wrapper {
    padding-right: 5.625rem;
    padding-left: 5.625rem;
  }
}

/* .newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 1.25rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 1.875rem;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 22.5rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 0.9375rem;
}
 */
