.contact img {
  max-width: 100%;
}

.contact .field {
  margin-bottom: 0.9375rem;
}

@media screen and (min-width: 768px) {
  .contact .field {
    margin-bottom: 1.25rem;
  }
}

.contact__button {
  margin-top: 1.875rem;
}

@media screen and (min-width: 768px) {
  .contact__button {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.25rem;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
