.article-template > *:first-child:not(.article-template__hero-container) {
  padding-top: 3.125rem;
}

.article-template__hero-container {
  max-width: 81.25rem;
  margin: 0 auto;
}

@media screen and (min-width: 1320px) {
  .article-template__hero-container:first-child {
    padding-top: 3.125rem;
  }
}

.article-template__hero-medium {
  height: 9.75rem;
}

.article-template__hero-large {
  height: 11.875rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .article-template__hero-medium {
    height: 21.8125rem;
  }

  .article-template__hero-large {
    height: 26.4375rem;
  }
}

@media screen and (min-width: 1024px) {
  .article-template__hero-medium {
    height: 34.0625rem;
  }

  .article-template__hero-large {
    height: 41.25rem;
  }
}

.article-template header {
  margin-top: 2.75rem;
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 768px) {
  .article-template header {
    margin-top: 3.125rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 0.625rem;
}

.article-card__tags {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem -0.5rem 0;
}
.article-card__tag {
  text-transform: uppercase;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: var(--border-radius);
  font-size: 0.75rem;
  letter-spacing: 0.08125rem;
  line-height: 1.2;
  font-weight: 600;
  background-color: var(--button-bg);
}
.article-card__tag > a {
  text-decoration: none;
  color: var(--button-text);
}
.article-card__tag > a:hover {
  color: rgba(var(--button-text-rgb), 0.85);
}

.article-template__link {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-underline-offset: 0.1875rem;
}

.article-template__link:hover {
  text-decoration-thickness: 0.125rem;
}

.article-template__link svg {
  width: 0.9375rem;
  transform: rotate(180deg);
  margin-right: 0.625rem;
}

.article-template__content {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.article-template__social-sharing {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  margin-top: 1.875rem;
}

.article-template__social-sharing .social-sharing {
  margin-left: -0.8125rem;
}

.article-template__comment-wrapper {
  margin-top: 3.125rem;
}

@media screen and (min-width: 768px) {
  .article-template__comment-wrapper {
    margin-top: 3.75rem;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 3.125rem;
}

@media screen and (min-width: 768px) {
  .article-template__comments {
    margin-bottom: 4.375rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 2.5rem;
}

.article-template__comments-comment {
  color: var(--color-text-75);
  background-color: var(--body-bg);
  margin-bottom: 0.9375rem;
  padding: 1.25rem 1.25rem 0.9375rem;
}

@media screen and (min-width: 768px) {
  .article-template__comments-comment {
    padding: 1.25rem 1.5625rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 0.625rem;
}

.article-template__comment-fields > * {
  margin-bottom: 1.875rem;
}

@media screen and (min-width: 768px) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
  }
}

.article-template__comment-warning {
  margin: 1.25rem 0 1.5625rem;
}

@media screen and (min-width: 1024px) {
  .article-template__comments .pagination-wrapper {
    margin: 3.125rem 0 5rem;
  }
}
